@model IEnumerable<TaskManager.Models.TaskData>



     @foreach (var item in Model)
     {
            int perc = item.TotalWork>0 ? ((int)Math.Round((double)(100 * item.CurrentWork) / item.TotalWork)) : 0;
            string progressStyle = "progress-bar progress-bar-striped";

        <div class="titulo-tarea">
            @item.Name
            @if(item.State == "Running")
            {
                progressStyle = "progress-bar progress-bar-striped progress-bar-animated";
                <a href="#" class="btn bg-primary text-light" onclick="Cancel('@item.Id')">Cancel</a>
            }
            else
            if(item.State == "Finished")
            {
                <a href="#" class="btn bg-danger text-light" onclick="Delete('@item.Id')">Delete</a>
            }
            else
            {
                <a href="#" class="btn btn-success text-light" onclick="StartSingle('@item.Id')">Start</a>
            }

    </div>
            <div class="progress">
                <div class="@progressStyle" role="progressbar" style="width:@perc%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
     </div>
    }